menu "M5 Camera Model Select"

    choice M5_CAMERA_MODEL
        prompt "Select M5 Camera Model"
        default TIMER_CAMERA_X_F
        help
            Select which M5 Camera model to use

        config M5_CAMERA_X_F
            bool "M5 Camera X/F"
            help
                M5 Camera X/F model

        config TIMER_CAMERA_X_F
            bool "Timer Camera X/F"
            help
                Timer Camera X/F model

        config UNIT_CAM
            bool "Unit Cam"
            help
                Unit Cam model

    endchoice

endmenu